.branding a {
  font-size: 30px;
  font-weight: 700;
  /* margin-right: 150px; */
}

.nav-tab div ul li {
  padding-right: 70px;
  font-size: 20px;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  padding: 15px 15px;
}

/* .nav-item a {
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: all 0.5s;
}

.nav-item a:hover {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
} */

.nav-item a:active {
  border-radius: 10px;
  transform: translateY(1px);
  box-shadow: 4px 4px 12px #adadad, 1px -4px 12px #ffffff;
}

.main {
  background-size: cover;
  height: 83.5vh;
}
.content-bg {
  color: #ffffff;
  width: 50%;
  background: linear-gradient(90deg, #000000, #00000000);
  position: relative;
  height: 85vh;
  opacity: 0.7;
  /* border-radius: 10px; */
  /* margin-left: -15px; */
}

.content {
  position: absolute;
  color: rgb(231, 231, 231);
  width: 50%;
  margin-top: 100px;
  padding-left: 50px;
}

.content h1 {
  padding-bottom: 25px;
}

.content p {
  padding-bottom: 25px;
  width: 50%;
}

.end {
  height: 100px;
}

.foot {
  position: absolute;
  /* top: ; */
  right: 0;
  opacity: 0.9;
  /* /* position: absolute; */
  /* top: 0; */
  /* /* right: 0; */
  /* background-color: rgb(255, 255, 255); */
  /* opacity: 0.8; */
  /* width: fit-content; */
  /* margin-left: 500px;
  margin-top: 110px; */
  border-radius: 5px;
}

.foot a {
  float: right;
  font-size: 20px;
  padding-right: 20px;
  color: #4e4e4e;
  transition: 0.1s;
  padding-top: 10px;
}

.foot a:hover {
  color: rgb(0, 0, 0);
}

.foot .p {
  color: #fdf7f0;
}

.end {
  background-color: #ffffff;
}

.end div {
  background: #ffffff;
  margin-top: 10px;
  /* margin-top: 15px; */
  border-radius: 5px;
  /* margin-bottom: 15px; */
  font-size: 20px;
  /* margin-right: 80px; */
  /* margin-left: 80px; */
  padding: 0 70px;
  font-weight: 500;
  transition: 0.3s;
}

.end div i {
  padding: 5px;
  font-size: 25px;
  color: rgb(245, 82, 82);
}
.end div:hover {
  box-shadow: 4px 10px 12px #a7a7a7;
  cursor: pointer;
}

.end a{
  position: absolute;
  /* padding: 5px; */
  text-decoration: none;
  right: 25px;
  bottom: 10px;;

}

.rwc-embed__chat{
  background-color: rgba(252, 252, 234, 0.922) !important;
}

.message-bubble{
  background-color: rgb(249, 239, 239) !important;
}

.message-bubble__content .message-bubble__text{
  color: rgb(100, 98, 95) !important;
  font-weight: bold;
}