.container-fluid {
  padding: 0;
}

ul > li > .nav-link {
  color: #341d3a;
}

ul > li > .nav-link:hover {
  color: deeppink;
}

.nav-pills .nav-link.active {
  background-color: #ac7bb9;
}

.name{
  margin-top: auto;
  font-weight: 650;
}

a{
  text-decoration: none;
  color: #341d3a;
}

a:hover {
  color: rgb(117, 67, 115);
}
.carousel{
  height: 600px;
  box-shadow: inset;
}
.carousel .carousel-item {
  height: 600px;
  box-shadow: inset;
}

.border {
    border: 1px solid #dee2e600!important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 h2{
   font-weight: 750;
   font-size:2cm;
 }
 .carousel .carousel-indicators button {
   background-color: rgb(247, 146, 146);
   width: 70px;
   height: 2px;
   opacity: 0.7;
}
.carousel .carousel-indicators button.active {
  background-color: rgb(240, 15, 7);
}

.about{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}